.header{
    display: flex;
    flex-direction: row;
    height: 80px;
}
.logo{
    width: 50%;
}
.fi-rr-brush{
    height: 50px;

}
.menu{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.option a{
    text-decoration: none;
    color: black;
}
.option:hover{
    transform: scale(1.1);
}
.top-pic{
    position: absolute;
    top:-40px;
    right: 400px;
    height: 200px;
}